h1, h2, h3 {
		font-family: 'Josefin Slab', serif;
		font-weight: 300;

		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	color: #1D242C;
	background: #FFFDFA;
}

.header h1,h2 {
	text-align: center;
}

.header h1 {
	font-size: 48pt;
}

.header h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 24pt;
	font-weight: 400;
}

.pure-button {
	font-family: 'Raleway' sans-serif;
	width:100%;
	border-radius: 0px;
}


.pure-menu li a:hover{
	background: #999CA4;
}

.header, .content{
	max-width: 800px;
	margin-right:auto;
	margin-left:auto;
}

.content {
	padding-top: 5px;

}

.header {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #ddd;
}

/* As hex codes */

.color-primary-0 { color: #00B8B8 }	/* Main Primary color */
.color-primary-1 { color: #90C4C4 }
.color-primary-2 { color: #2CAFAF }
.color-primary-3 { color: #007F7F }
.color-primary-4 { color: #005959 }

button.color-primary-0 { background: #00B8B8; color: #FFFFFF; }	/* Main Primary color */
button.color-primary-1 { background: #90C4C4; color: #FFFFFF; }
button.color-primary-2 { background: #2CAFAF; color: #FFFFFF; }
button.color-primary-3 { background: #007F7F; color: #FFFFFF; }
button.color-primary-4 { background: #005959; color: #FFFFFF; }

.color-secondary-1-0 { color: #0960C2 }	/* Main Secondary color (1) */
.color-secondary-1-1 { color: #9AB2CC }
.color-secondary-1-2 { color: #3A76BA }
.color-secondary-1-3 { color: #04438A }
.color-secondary-1-4 { color: #012E60 }

button.color-secondary-1-0 { background: #0960C2; color: #FFFFFF; }	/* Main Secondary color (1) */
button.color-secondary-1-1 { background: #9AB2CC; color: #FFFFFF; }
button.color-secondary-1-2 { background: #3A76BA; color: #FFFFFF; }
button.color-secondary-1-3 { background: #04438A; color: #FFFFFF; }
button.color-secondary-1-4 { background: #012E60; color: #FFFFFF; }

.color-secondary-2-0 { color: #00CC59 }	/* Main Secondary color (2) */
.color-secondary-2-1 { color: #9DD4B5 }
.color-secondary-2-2 { color: #32C672 }
.color-secondary-2-3 { color: #009742 }
.color-secondary-2-4 { color: #00692E }

button.color-secondary-2-0 { background: #00CC59; color: #FFFFFF; }	/* Main Secondary color (2) */
button.color-secondary-2-1 { background: #9DD4B5; color: #FFFFFF; }
button.color-secondary-2-2 { background: #32C672; color: #FFFFFF; }
button.color-secondary-2-3 { background: #009742; color: #FFFFFF; }
button.color-secondary-2-4 { background: #00692E; color: #FFFFFF; }