h1, h2, h3 {
		font-family: 'Josefin Slab', serif;';
}

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

div.header, div.content{
	padding: 0px, 33%;
	max-width: 500px;
	margin-right:auto;
	margin-left:auto;
}