<VirtualHost *:80>
	ServerName vm.gtf.com

	php_value include_path ".:/usr/share/pear/PEAR"

	DocumentRoot "/var/www/growingthefaith/public/"
	<Directory "/var/www/growingthefaith/public/">
	    Options FollowSymLinks
	    AllowOverride All
	    Order allow,deny
	    Allow from all
	</Directory>

	ErrorLog /var/log/apache2/growingthefaith.err
	CustomLog /var/log/apache2/growingthefaith combined
</VirtualHost>
