#home-login {}

.main-img { background: url("../../../images/onboarding-bg.jpg") no-repeat scroll center center / cover  #CCCCCC; }

.flips-wrappers { margin: 0 auto; max-width: 960px; }

/*.flip-form.active { display: block; }*/
#flip-login-form { display: block; }
.flip-form { display: none; }
.form-bg { background-color: #FFFFFF; border-radius: 3px; -webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.5); box-shadow: 0 0 10px 0px rgba(0,0,0,0.5); min-height: 500px; margin-top: 8%; overflow: hidden; }
.flip-form h1.logo { background: url("../../../images/logo.png") no-repeat scroll center top rgba(0, 0, 0, 0); display: inline-block; height: 66px; margin-top: 190px; text-indent: -99999px; width: 362px; border: none; }
.login-left h3 { color: #444444; font-size: 24.5px; font-weight: normal; line-height: 40px; }
.loginBoxHeader h4 { font-size: 17.5px; font-weight: normal; line-height: 20px; margin: 10px 0; text-align: left; text-transform: uppercase; font-family: "AvenirLTStd-Roman",Helvetica,sans-serif; font-weight: bold;  }
.login-left { float: left; text-align: center; width: 68%; }
.flip-login-right { float: right; text-align: center; width: 32%; }
.boxContent{ background-color: #DADADA; border: 1px solid #CCCCCC; border-radius: 5px; margin: 30px 0 20px; overflow: hidden; }
.boxContent .top-input { border-bottom: 1px solid #CCCCCC !important; }
.boxContent input { background-color: #DADADA; border: medium none; border-radius: 0; box-shadow: 0 0 0 rgba(0, 0, 0, 0); margin-bottom: 0; padding: 15px 10px; width: 100%; height: 30px; font-family: "AvenirLTStd-Roman",Helvetica,sans-serif; font-size: 14px; }
.flip-form  .flip-login-right .userLogin input { box-shadow: none; }
.flip-form .flip-login-right .userLogin input:focus { background-color: transparent; border:none; }
.flip-form .flip-login-right .userLogin input:focus:invalid { box-shadow: none; }

.button-yellow { background-color: #FFC425; border: 1px solid #FFBA00; color: #FFFFFF; }
.button { border-radius: 3px; color: #FFFFFF; font-size: 15px; padding: 12px 20px 8px; text-transform: uppercase; transition: all 0.1s ease-in 0s; }
.actions .button { width: 100%; font-weight: bold; }
.loginHolder .user-resets { margin: 25px 0 20px; text-align: center; }
.loginHolder .user-resets .grey-link { display: inline; font-size: 13px; }
.grey-link { color: #959595; font-size: 14px; }
a.grey-link:hover { text-decoration: none; color: #959595; opacity: 0.5; }
.flip-login-right .divider { margin-bottom: 50px; margin-top: -48px; }
.divider { border-bottom: 1px solid #CCCCCC; }
.flip-login-right .divider h5 { background-color: #EBEBEB; border-radius: 200px; color: #959595; font-style: italic; height: 30px; left: 42%; padding: 11px 0; position: relative; text-align: center; top: 43px; width: 35px;    font-weight: bold; line-height: 20px; margin: 10px 0; font-size: 14px; }
.button-blue { background-color: #0194D3; border: 1px solid #127ECC; color: #FFFFFF; font-family: "AvenirLTStd-Heavy"; }
.button-blue:hover {background-color: #0170A0; border: 1px solid #0F69AB; color: #FAFAFA; text-decoration: none; }
.sign-up a.blue-button { font-size: 15px; font-weight: bold; }
.flip-login-right .toggle-trigger { padding: 16px 32px 11px !important; }
.loginHolder { background-color: #EBEBEB; border-left: 1px solid #CCCCCC; min-height: 500px; padding: 20px 30px 0; }

.flips-wrappers .form-bg .sign-up-form label { font-size: 20px; text-transform: uppercase; }
.flips-wrappers .form-bg .form-header { background-color: #EBEBEB; border-bottom: 1px solid #CCCCCC; padding: 10px 10px 3px; text-align: center; }
.flips-wrappers .form-bg .form-header h2 { color: #959595; text-transform: uppercase; }
.flips-wrappers  .sign-up-form { margin: 0 auto; max-width: 800px; padding: 35px 0 40px; width: 100%; }

.flips-wrappers .sign-up-form .span5 { float: left; margin: 0; width: 50%; }
.flips-wrappers .sign-up-form .input-width { max-width: 390px; width: 100%; }

.sign-up-terms {}
.flips-wrappers .form-bg .sign-up-form .checkbox { font-size: 15px; margin-top: 25px; text-transform: none; }
.flips-wrappers .form-bg .sign-up-form .form-button-group { float: right; }

.sign-up-form .row { margin-left: 0; }

.forgot-passwd { /*margin: 8% auto 0; max-width: 620px;*/ text-align: center; }
.recover-form { margin: 75px auto 50px; }

.dripicon-lock:before { content:  "\e045"; }
[class^="dripicon-"]:before, [class*=" dripicon-"]:before { display: inline-block; font-family: "dripicons"; font-style: normal; font-variant: normal; font-weight: normal; line-height: 1em; text-decoration: none; text-transform: none !important; width: 1em; }
.recover-form .user-recovery-icon { background-color: #FFC425; border-radius: 200px; color: #FFFFFF; display: inline-block; font-size: 50px; height: 60px; padding: 15px; width: 60px; }

.form-group { margin: 20px auto; width: 100%; }
.form-group .button { margin: 0; }


.loginHolder a.logo {}
.loginHolder .loginHeader, .loginHolder .loginHeader a.logo, .loginHolder .loginBox {}
.loginBox {}
.loginBox .loginBoxHeader {}
.loginBox .boxContent {}
.loginBox fieldset { }
.loginBox fieldset .input-prepend {}
.loginBox label.remember {}
.loginBox .actions {}

/*********
Parish Search
*********/

.flip-search { display: block; }
.flip-search .input-divider .divider-rule { background-color: #959595; height: 1px; left: 27px; position: relative; top: 52px; width: 96px; }
.flip-search .input-divider { padding-left: 8px; }
.flip-search  .input-divider h5 { background-color: #FFFFFF; border-radius: 200px; color: #959595; font-style: italic; left: 60px; padding: 5px; position: relative; text-align: center; top: 28px; width: 24px; z-index: 101; }
.flip-search h3.form-title { text-transform: uppercase; }

.select-parish .find-parish-results-list { background-color: #FAFAFA; border: 1px solid #EBEBEB; height: 225px; overflow-y: scroll; width: 795px; }
.select-parish .find-parish-results-list li:before { content: "\f096"; font-family: 'FontAwesome'; margin-right: 15px; }
.select-parish .find-parish-results-list li { border-bottom: 1px solid #EBEBEB; font-size: 18px; margin: 15px 0; padding: 10px 10px 20px; transition: all 0.1s ease-in 0s; cursor: pointer; }
.select-parish .find-parish-results-list li:hover { color: #CCCCCC; }
.select-parish .find-parish-results-list li.selected { color: #FFC425; }
.select-parish .find-parish-results-list li.selected:before { content: "\f14a"; font-family: 'FontAwesome'; }
.select-parish .find-parish-results-list li:last-child { border-bottom: none; padding-bottom: 0; }
.select-parish .find-parish-results-list li.no-results:before { content: "\f06a"; font-family: 'FontAwesome'; }
.select-parish .find-parish-results-list li.no-results { color: #EE3124; font-size: 30px; line-height: normal; text-align: center; }
